openpyxl>=3.1.0
openai>=1.0.0
pyyaml>=6.0.0
pandas>=2.0.0
crewai
python-dotenv
langchain
langchain-core
langchain-openai
langchain-azure-ai
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langchain-community
langchain-mcp-adapters
deepagents
azure-identity
gradio
pydantic
ipython
requests
urllib3
pywin32
jupyter
ipykernel
notebook
tavily-python      # For TavilySearchResults
google-search-results  # If using Serper APIs (depending on your setup)
pygraphviz
python-pptx
playwright
wikipedia
google-adk
a2a-sdk
litellm>=1.84
mcp
"mcp[cli]" 
fastapi 
uvicorn
